/****************************
Basic Page Styles
********************/
.container {
    padding-right: 15px;
    }

.img-container {
    text-align: center;
    padding: 10px;
    position: relative;
    }

.topic{
   position: absolute;
   z-index: 1;
   left: 0;
   right: 0;
   
}

.image {
    max-width:300px;
    max-height:400px;
     width: auto;
     height: auto;
}

.scripture{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: normal;
    width: 100%;   
}


p {
    max-width: 30em;
    color: white;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 40px auto;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 2em;
    font-variant: small-caps;
}

